{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="bg-light shadow p-5 rounded-3 " style="max-width: 500px; width: 100%;">
    <h3> Create your account</h3>
       
            <h5>Start managing your clients today! </h5>
               
                    <br>
                 
                    <br>
              
                  
                   
                    <form method="POST"autocomplete="off">
                        {% csrf_token %}
                        {{ form.username|as_crispy_field}}
                        <br>     
                        {{ form.password1|as_crispy_field}}
                        <br>
                        {{ form.password2|as_crispy_field}}
                    
                       
                        
                        <br>

                 <button type='submit'class="btn btn-primary w-100 btn-block p-2 rounded-3 ">Create account</button>
                      
                 
                    </form>
                    <br>

                    <div class= 'text-center'>
                        <p>Already have an account?</p><a href="{% url 'my_login' %}">Login</a>

                        
                    </div>
                </>
                <br>

                
{% endblock content %}