{% extends 'base.html' %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container py-4">
<h1>Expenses List</h1>
<div class="row justify-content-center">
      <div class="col-md-8">
<ul class="list-group">
    {% for expense in expenses %}
        <li class="list-group-item">
            {{ expense.name }} - ${{ expense.amount }} - {{ expense.date }} (Category: {{ expense.category.name }})
        </li>
       
    {% empty %}
        <li class="list-group-item">No expenses to show.</li>
    {% endfor %}
            </ul>
         </div>
        </div>
    </div>
</main>
{% endblock %}